body {
  background-color: rgb(60, 82, 116);
}

.site-logo {
  height: 30px;
  width: 30px;
  margin-right: auto;
}

#logo {
  height: 150px;
  width: 200px;
  top: 0;
}

nav {
  background-color: rgb(47, 95, 103);
  font-size: 22px;
  text-align: right;
}

nav ul li {
  display: inline;
  font-family: sans-serif;
  padding: 2% 5%;
}

nav ul li a {
  color: rgb(251, 217, 158);
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(36, 237, 213);
}

h3{
  display: block;
}

#picture {
  transform: scale(4);
  padding-left: 25%;
}
