body {
  background-color: rgb(60, 82, 116)
}

.site-logo {
  z-index: -1;
  height: 30px;
  width: 30px;
  margin-right: auto;
}

#logo {
  height: 120px;
  width: 150px;
}

nav {
  background-color: rgb(47, 95, 103);
  font-size: 22px;
  text-align: right;
}

nav ul li {
  display: inline;
  font-family: sans-serif;
  padding: 0 5%;
}

nav ul li a {
  color: rgb(251, 217, 158);
  text-decoration: none;
  z-index: 1;
}

nav ul li a:hover {
  color: rgb(36, 237, 213);
}
